{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
{% block body %}

<div class="container">
    <form class="my-5" action="/update/{{todo.sro}}" method="POST">
        <h2>Update to do</h2>
        <div class="mb-3">
          <label for="title" class="form-label">To do title</label>
          <input type="text" value="{{todo.title}}" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">to do Description</label>
          <input type="text" value="{{todo.desc}}" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form> 

{% endblock body %}